* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
  margin: 0 10%;
  color: #b6b6b6;
  font-family: "Roboto", sans-serif;
}

header h1 {
  background: #1360aa;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  align-content: center;
  font-size: 32px;
}

header div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  align-items: center;
}

header p {
  margin: 1rem;
  text-indent: 4rem;
}

header img {
  width: 100px;
  height: auto;
}

header figure {
  margin-right: 1rem;
}

figcaption {
  text-align: center;
  font-weight: 700;
}

section figcaption {
  margin: 1rem 0rem;
}

h2 {
  margin: 0 0 1rem;
  text-align: center;
  font-size: 24px;
}

section img {
  width: 100%;
  height: auto;
}

section {
  background-color: #1f1f1f;
  padding: 1rem;
  margin: 1rem 0;
}

#grid-wireframe {
  display: grid;
  grid-template: 1fr / 1fr;
  justify-content: space-around;
  gap: 1rem;
}

dt,
dd,
p {
  font-size: 14px;
}

figcaption {
  font-size: 16px;
}

main section {
  text-align: center;
}

