@media screen and (min-width: 600px) {
  #products-card {
    grid-template-columns: repeat(3, 1fr);
  }
  #hambutton {
    display: none;
  }

  #menu {
    flex: 2;
    display: flex;
  }

  #menu img {
    width: 60px;
    height: auto;
  }

  #hambutton-close {
    display: none;
  }

  header fieldset img {
    width: 60px;
    height: auto;
  }

  header figcaption {
    font-size: 18px;
    text-shadow: 1px 2px 8px #000;
  }

  header div fieldset {
    flex: 1;
  }

  #hambutton {
    flex: 1;
  }

  #seaching-bar {
    flex: 5;
  }

  header div button,
  #bar {
    height: 2.4rem;
  }

  #menu.show {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    align-content: center;
    height: 64px;
    width: auto;
    right: auto;
    top: auto;
    padding: 0;
  }

  header a,
  header .show a {
    color: #1460aa;
    font-weight: 700;
    font-size: 20px;
  }

  #menu.show a {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  #products-card {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  #products-card {
    grid-template-columns: repeat(5, 1fr);
  }
}
