* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    text-align: center;
    border-collapse: collapse;
    
}

thead tr:nth-child(2) th {
    background-color: gray;
    color: white;
    padding: .5rem;
}

thead tr:first-child td, thead tr:nth-child(2) th:first-child {
    padding: .5rem;
    color: white;
    background-color: black;
}

table tr:nth-of-type(2) td {
    border-bottom: 1px solid red;
    border-right: 1px solid red;

}

td {
    padding: .2rem .5rem;
}

