* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.body-container {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  justify-content: left;
  color: #d8d8d8;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #f00;
}

header,
footer {
  background-color: #333;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  height: 20vh;
  display: grid;
  grid-template: 4fr 1fr / 1fr;
}

h1 {
  padding: 1rem;
  grid-row: 1 / 2;
}

nav {
  grid-row: 2 / 3;
  align-content: end;
}
ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #000;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  color: #000;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 3fr 1fr;
  height: 40vh;
}

main div p {
  padding: 1rem;
}

.side-left {
  background-color: #ccc;
}

.side-right {
  background-color: #fff;
}

footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  height: 40vh;
}

footer p {
  text-align: center;
  padding: 1rem;
}
