* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.maincontainer {
  display: grid;
  grid-template: auto 1fr auto / 1fr 12fr 1fr;
}

header {
  background-color: #1d4d72;
  grid-area: 1 / 1 / 2 / -1;
  color: #ffffff;
  text-align: center;
  display: grid;
  grid-template: 5fr 1fr / 1fr;
  height: 10vh;
}

header p {
  padding: 1rem;
  grid-area: 1 / 1 / 2 / -1;
}

header nav {
  grid-area: 2 / 1 / -1 / -1;
  align-self: end;
}

header ul {
  display: flex;
  justify-content: space-around;
  background-color: #333;
}

header li {
  list-style: none;
  padding: 0.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #C5750C;
  text-decoration-thickness: 0.1rem;
}

main {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: auto 5fr / 7fr 3fr;
  text-align: center;
  gap: 1rem;
  height: 82vh;
}

main h1 {
  grid-area: 1 / 1 / 2 / -1;
  align-self: center;
  padding: 1rem;
}

.leftside {
  grid-area: 2 / 1 / -1 / 2;
}
.rightside {
  grid-area: 2 / 2 / -1 / 3;
}

main section h2 {
  text-align: center;
  color: #ffffff;
  background-color: #1d4d72;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#profile {
  float: right;
  width: auto;
  height: 10rem;
  padding: 1rem;
}

#profile,
#profiletext {
  padding-top: 1rem;
}

h3 {
  clear: both;
  border-bottom: 1px solid #333;
}

figure {
  float: left;
}
#countryflag-text,
figure {
  padding: 1rem;
}

#countryflag {
  width: 10rem;
  height: auto;
}

figcaption {
  color: #333;
}

main section li {
  list-style: none;
  font-weight: bold;
}

footer {
  grid-area: 3 / 1 / -1 / -1;
  background-color: #1d4d72;
  text-align: center;
  color: #ffffff;
  height: 8vh;
}

footer p {
  padding-top: 0.6rem;
}

#lastmodified {
  color: #e7e61b;
  padding-top: 0;
}

