:root {
  --bg-color-1: 31, 31, 31;
  --bg-alpha: 0.75;
  --bg-color-2: #3b3127;
  --font-color: #fff;
  --border-r: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  background-color: rgb(var(--bg-color-1));
  font-family: "Helvetica", "Roboto", sans-serif;
  color: var(--font-color);
}

header h1,
section h2 {
  text-align: center;
}

header h1 {
  font-size: 30px;
  padding: 1rem 0;
}

section {
  text-align: center;
}

h2 {
  padding: 2rem 0 1rem;
  font-size: 26px;
}

dl {
  font-size: 12px;
}

main dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}

main dt {
  grid-column: 1/2;
  text-align: right;
  font-weight: 700;
}

main dd {
  grid-column: 2/3;
  text-align: left;
}

figcaption {
  margin-bottom: 1rem;
  color: #d27129;
  font-weight: 700;
}
footer {
  background-color: var(--bg-color-2);
  padding: 1rem;
  text-align: center;
}

main {
  margin-bottom: 1rem;
}

picture img {
  width: 100%;
  height: auto;
}
